<% provide(:title, 'Edit Task') %>
<h1>タスク編集</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= form_with(model: @task, url: user_task_path(@user, @task), local: true, method: :patch) do |f| %>
      <%= render partial: 'shared/error_messages', locals: { obj: @task } %>
    
      <%= f.label :name, class: "label-task-edit" %>
      <%= f.text_field :name, class: "form-control" %>
      
      <%= f.label :description, class: "label-task-edit" %>
      <%= f.text_area :description, rows: 5, class: "form-control" %>

      <%= f.label :finish_task, class: "label-task-edit" %>
      <%= f.check_box :finished_task, id: "finished_task" %><br>
      
      <%= f.submit "変更する",class: "btn btn-primary btn-lg btn-task-edit" %> 
    <% end %>
    <%= link_to "タスク一覧画面に戻る", user_tasks_path %>
  </div>
</div>