<% provide(:title, @user.name) %>
<h1><%= @user.name %>のタスク詳細</h1>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-bordered" id="table-user">
      <tbody>
        <tr>
          <th class="active col-md-3"><%= Task.human_attribute_name :id %></th>
          <td class="col-md-9"><%= @task.id %></td>
        </tr>
        <tr>
          <th class="active"><%= Task.human_attribute_name :name %></th>
          <td><%= @task.name %></td>
        </tr>
        <tr> 
          <th class="active"><%= Task.human_attribute_name :description %></th>
          <td><%= @task.description %></td>
        </tr>
        <tr> 
          <th class="active"><%= Task.human_attribute_name :status %></th>
          <td><%= @task.status %></td>
        </tr>
        <tr> 
          <th class="active"><%= Task.human_attribute_name :deadline %></th>
          <td><%= l(@task.deadline, format: :middle) %></td>
        </tr>
        <tr>
          <th class="active"><%= Task.human_attribute_name :created_at %></th>
          <td><%= l(@task.created_at, format: :long) %></td>
        </tr>
        <tr>
          <th class="active"><%= Task.human_attribute_name :updated_at %></th>
          <td><%= l(@task.updated_at, format: :long) %></td>
        </tr>
        
      </tbody>
      
    </table>
    <%= link_to "編集", edit_user_task_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "削除", user_task_path(@user, @task), method: :delete, data: {confirm: "「#{@task.name}」を削除します。よろしいですか？"}, class: "btn btn-lg btn-default" %>
  </div>    
</div>