      <div class="row">
        <div class="col-md-10 col-md-offset-1">

        
        <%= form_with(model: @user, url: "#", local: true, method: :patch) do |f| %>
        <% @requests.each do |id, requests| %>
           <% user = User.find(id) %> 

          <table class="table table-bordered table-condensed">
            <thead>
              <tr>
								<h1><%= user.name %>からのリクエスト</h1> 
                <th><%= Request.human_attribute_name :request_deadline %></th>
                <th><%= Request.human_attribute_name :request_name %></th>
                <th><%= Request.human_attribute_name :request_description %></th>
                <th><%= Request.human_attribute_name :request_status %></th>
								<th><%= Request.human_attribute_name :request_change_status %></th>
							</tr>
              </thead>
              <tbody>
                <% requests.each do |request| %>
                <%# 
                  day_of_week_color = case $days_of_the_week[day.worked_on.wday]
                  when "土"
                    "text-primary"
                  when "日"
                    "text-danger"
                  end 
                %>
                <%= f.fields_for "requests[]", request do |item| %>
                <tr>
                  <td><%= l(request.request_deadline, format: :short) %></td>
                  <td><%= request.request_name %></td>
                  <td><%= request.request_description %></td>
                  <td>
                    <%= item.select :request_status, ['未', '実施済み'] %>
                  </td>
                  <td><%= item.check_box :request_change_status %></td>
                </tr>
                <% end %>
                <% end %>
              </tbody>              
            </table>
						<% end %>
            <table>
              <div class="footer-button">
                <%= f.submit yield(:button_text), class: "btn btn-lg btn-primary" %>
              </div>
            </table>   
          <% end %>
          </div>
        </div>