<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Kanno App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "トップ", root_path %></li>
        <% if user_signed_in?	 %>
          <% if current_user.admin? %>
            <li><%= link_to "利用者一覧", users_path %></li>
          <% end %>
          <li><%= link_to "タスク作成", new_user_task_path(current_user) %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="active dropdown-header">ユーザー</li>
              <li><%= link_to "プロフィール", user_path(current_user) %></li>
              <li><%= link_to "設定", edit_user_registration_path %></li>
              <li class="active dropdown-header">タスク</li>
              <li><%= link_to "タスク一覧", user_tasks_path(current_user) %></li>
              <li><%= link_to "タスク新規作成", new_user_task_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>